.dashboard-block{
    margin:25px;
}
.dashboard__clearAllBtn{
    background: $red;
    width: 59px;
    height: 60px;
    border-radius: 50%;
    position:fixed;
    bottom:20px;
    right:20px;

    > p {
        font-size: 2em;
        position: absolute;
        top: -20px;
        left: 20px;
        /* Safari */
        -webkit-transform: rotate(45deg);
    
        /* Firefox */
        -moz-transform: rotate(45deg);
    
        /* IE */
        -ms-transform: rotate(45deg);
    
        /* Opera */
        -o-transform: rotate(45deg);
    }
    
    &:hover{
        box-shadow: 3px 3px 3px grey;
    }
}