<div class="dashboard-block">
    {{name}}
    <div class="dashboard__clearAllBtn" {{action "removeAllTasks"}}>
        <p>+</p>
    </div>
    {{search-bar search='search' clearResults='clearResults'}}
    {{pending-list add='add' remove='remove' clear='clear' remTasks=results task=task}}
</div>